# Enforce LF line endings for text configuration files
*.toml text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.ini text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.properties text eol=lf
*.json5 text eol=lf
*.css text eol=lf
*.cfg text eol=lf
*.md text eol=lf
*.data text eol=lf
*.log text eol=lf
*.config text eol=lf

# Keep binary files untouched
*.zip binary
*.png binary
*.jar binary